@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grape+Nuts&family=Rubik+Wet+Paint&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(snowflake.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Grape Nuts", sans-serif;
    margin-right: 50rem;
    margin-bottom: 50rem;
    overflow: hidden;
    
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    color: white;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
    color: green;
}
.countdown-to {
    text-align: center;
}
.countdown-to span{
    font-size: 1.5rem;
    color: red;
}
#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
   
}
#responsive {
    width: 100%;
    height: auto;
}
